@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('../assets/loew/stylesheet.css');
@import url('../assets/icons/style.css');
@import url('icons.css');

* {
	box-sizing: border-box
}


body {
	color: #FFF;
	font-family: 'PT Sans', Helvetica, Arial, Sans-Serif;
	font-weight: normal;
	background-color: #000;
	line-height: 1.3;

}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	position: fixed;
	right: 1rem;
	top: 1rem;
	font-size: 1.25rem;
	font-family: "PT Sans", Helvetica, Arial, Sans-Serif;
	z-index: 999;
	-webkit-transform: translateZ(2000px);
	font-weight:400;
}
h1 span {
	/*font-family: "loewheavy", Helvetica, Arial, Sans-Serif;*/
	font-weight: 700
}
h2 {
	font-family: "loewheavy", Helvetica, Arial, Sans-Serif;
	font-weight: 700;
	font-size: 4rem;
}
h3 {
	font-size: 1.75rem;
}

button {
	-webkit-appearance: none;
	border: 0;
	width: 3rem;
	height: 3rem;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	color: #FFF;
	background-color: transparent;
	border-radius: 50%;
}
button:hover {
	
	background-color: rgba(255,255,255, .3);
	background-blend-mode: overlay;
}
button span:before {
	width: 3rem;
	height: 3rem;
	line-height: 3rem !important;
	display: block;
	text-align: center;
	font-size: 1rem;
}

/*MAIN MENU*/

#view_menu {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 999;
	-webkit-transform: translateZ(2000px)
}
#view_menu li {
	/*display: inline-block;*/
}

/*CURRENT WEATHER*/

#current span {
	display: block;
	position: relative;
}

#current span.summary {
	font-size: 1.5rem;
	font-weight: bold;
}
#current span.summary:before {
	position: absolute;
	left: 0;
	right: 0;
	top: -6rem;
	font-size: 6rem;
}
#current span.location {
	font-size: 1rem
}
#current span.temperature {
	font-family: "loewheavy", Helvetica, Arial, Sans-Serif;
	font-size: 4rem
}
#current span.felt {
	font-size: .83rem
}
span.felt:after, span.temperature:after {
	content: '\00b0';
	position: absolute;
}

/*HOURLY WEATHER*/


#hourly .this_hour {
	margin-bottom: 2rem;
}

#hourly .this_hour span {
	display: block;
	position: relative;
}

#hourly .this_hour span.summary {
	font-size: 1.5rem;
	font-weight: bold;
}
#hourly .this_hour span.summary:before {
	position: absolute;
	left: 0;
	right: 0;
	top: -6rem;
	font-size: 6rem;
}
#hourly .this_hour span.location {
	font-size: 1rem
}
#hourly .this_hour span.temperature {
	font-family: "loewheavy", Helvetica, Arial, Sans-Serif;
	font-size: 4rem
}
#hourly .this_hour span.felt {
	font-size: .83rem
}

#hourly .other_hours {
	max-height: 24rem;
	overflow: hidden;
	position: relative;
}
#hourly .an_hour {
	display: block;
	border-bottom: 1px solid white;
	padding: 1rem 0;
	height: 4rem;
}
#hourly .an_hour div {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 25%;
}
#hourly .an_hour span {
	display: block;
}
#hourly .an_hour span.hour_time {
	font-weight: bold;
	font-size: 1.25rem;
}
#hourly .an_hour span.summary {
	font-size: 1.25rem;
	position: relative;
}
#hourly .an_hour span.summary:before {
	font-size: 4rem;
	position: absolute;
	left:0;
	top:0;
	height: 0;
	line-height: 1.5rem;
}
#hourly .an_hour span.temperature {
	font-family: "loewheavy", Helvetica, Arial, Sans-Serif;
	font-size: 1.25rem;
}
#hourly .an_hour span.felt {
	font-size: .83rem;
}
#hourly .an_hour div:nth-child(1) {
	text-align: left;
	width: 50%;
}
#hourly .an_hour div:nth-child(3) {
	
}



































/*WEATHER CUBE*/

#weather_cube {
	width: 100vw;
	height: 100vh;
	transform-style: preserve-3d;
	position: absolute;
}

#current, #hourly, #daily {
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	transition: width 0.5s ease-in-out;
	transition: transform .5s linear, background-color .5s linear, opacity .5s linear;
	background-color: #283A48;
	opacity: 0.5;
}

.current #current {
	transform: rotateY(   0deg ) translateZ( 50vw );
	opacity: 1;

}
.current #hourly {
	transform: rotateY(   90deg ) translateZ( 50vw );

}
.current #daily {
	transform: rotateY(   180deg ) translateZ( 50vw );
}
.current #about {
	transform: rotateY(   270deg ) translateZ( 50vw );	
}


.hourly #current {
	transform: rotateY(-90deg) translateZ(50vw);

}
.hourly #hourly {
	transform: rotateY(0deg) translateZ(50vw);
	opacity: 1;

}
.hourly #daily {
	transform: rotateY(90deg) translateZ(50vw);

}
.current #about {
	transform: rotateY(180deg ) translateZ( 50vw );	
}



.daily #current {
	transform: rotateY(-180deg) translateZ(50vw);

}
.daily #hourly {
	transform: rotateY(-90deg) translateZ(50vw);

}
.daily #daily {
	transform: rotateY(0deg) translateZ(50vw);
	opacity: 1;

}
.current #about {
	transform: rotateY(90deg ) translateZ( 50vw );	
}

#current:before, #hourly:before, #daily:before {
	content: "";
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}


.info {
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
	width: 420px;
	height: auto;
}

/*WEATHER BACKGROUNDS*/

#current, #hourly, #daily {
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	/*background-blend-mode: multiply*/
}


.clear-day {
	background-image: url(../assets/images/clear_day_bg.svg)
}
.clear-night {
	background-image: url(../assets/images/clear_night_bg.svg)
}
.rain {
	background-image: url(../assets/images/rain_bg.svg)	
}
.snow {
	background-image: url(../assets/images/snow_bg.svg)	
}
.sleet {
	background-image: url(../assets/images/sleet_bg.svg)	
}
.wind {
	background-image: url(../assets/images/wind_bg.svg)	
}
.fog {
	background-image: url(../assets/images/fog_bg.svg)	
}
.cloudy {
	background-image: url(../assets/images/cloudy_bg.svg)	
}
.partly-cloudy-day {
	background-image: url(../assets/images/partly-cloudy-day_bg.svg)	
}
.partly-cloudy-night {
	background-image: url(../assets/images/partly-cloudy-night_bg.svg)	
}

















































